/* Helpers */
.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mw-500 {
  max-width: 500px;
}

/* Transitions */
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.15s;
}

.fade-enter-active {
  transition-delay: 0.15s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}